########
# IDEs #
########

### IDEA based (webstorm) ###
.idea

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# lock & unwanted files
*.lock
.~*

